body {
  margin: 0;
}
.scene1 {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.blue-sky,
.clouds,
.people {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  opacity: 0;
}
.clouds {
  animation: fade-in 2s 2s forwards;
}
.people {
  animation: fade-in 2s 3.5s forwards;
}
.blue-sky {
  animation: fade-in 2s 0.5s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
